
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html,body{
    max-width: 100%;
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
    font-family: lato;
    background:url("../images/nature.jpg")100% /cover no-repeat;
    max-width: 100%;
    height: 962px;
    position: relative;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1262px;
    margin: 0 auto;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-top: 62px;
    margin-left: 102px;
    color: #fff;
    padding: 0 20px 0 0;
}
.header__menu {
    margin-top: 62px;
}
.menu {
    margin-right: 100px;
}
.menu__list {
    display: flex;
    gap: 81px;
    flex: 1 1 auto;
}
.menu__link {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%; /* 133.333% */ 
}
@media(max-width:991.98px){
    .header__logo{
        margin-left: 50px;
    }
    .menu {
        margin-right: 50px;
    }
    .menu__list {
        gap: 40px;
    }
}
@media(max-width:767.98px){
    .header__logo{
        padding: 0 20px;
    }
}
@media(max-width:598.98px){
    .header__logo{
        margin-top: -70px;
        margin-left: 30px;
    }
    .menu__list{
        display: block;
        margin-right: 30px;
    }
    .menu__item:not(:last-child){
        margin-bottom: 20px;
    }
}
@media(max-width:477.98px){
    .header__container{
        margin-top: -30px;
    }
    .menu__list{
        margin-right: 20px;
    }
}
.page{
    flex: 1 1 auto;
}
.main__container {
    margin-bottom: 401px;
}
.main__title {
    margin-top: 178px;
    margin-left: 102px;
    margin-bottom: 22px;
    color: #FFF;
    font-family: Lato;
    font-size: 50px;
    font-weight: 500;
    max-width: 619px;
    max-height: 121px;
}
.main__text {
    max-width: 546px;
    margin-left: 102px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
    margin-bottom: 59px;
}
.actions {
    display: flex;
    margin-left: 102px;
}
.actions__item {
    margin-right: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.actions__item::after{
    content: '';
    width: 297px;
    height: 3px;
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.actions__item a{
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
    margin-left: 23px;
}
.actions__icon {
    width: 20px;
    height: 20px; 
}
.actions__button {
    width: 171px;
    height: 58px;
    background: #1B7DFF;
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    margin-right: 30px;
    transition: all 0.3s ease 0s;
}
.actions__button:hover{
    background-color: #3a79cb;
    color: #242222;
    transform: scale(1.1);
}
@media(max-width:991.98px){
    .main__container{
        margin-bottom: 50px;
    }
    .main__title{
        margin-top: 100px;
        margin-left: 40px;
    }
    .main__text{
        margin-left: 40px;
    }
    .actions {
        display: flex;
        margin-left: 40px;
    }
    .actions__item{
        margin-right:50px;
    }
    .actions__item::after{
        content: '';
        width: 230px;
        height: 3px;
        background-color: #FFF;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .actions__button{
        margin-right: 20px;
    }
}
@media(max-width:767.98px){
    .main__title{
        margin-top: 60px;
    }
    .actions__item{
        margin-right: 50px;
    }
    .actions__item::after{
        opacity: 0;
        content: '';
        width: 230px;
        height: 3px;
        background-color: #FFF;
        position: absolute;
        bottom: -15px;
        left: 35px;
    }
    .actions__button {
        max-width: 120px;
        max-height: 46px;
        background: #1B7DFF;
        color: #FFF;
        font-family: Lato;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease 0s;
        margin-top: 40px;
        margin-left: 70%;
    }
    .actions{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:477.98px){
    .main__title{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 38px;
    }
    .main__content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .main__text{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .actions{
        margin-left: 0;
    }
    .actions__item a{
        font-size: 16px;
    }
    .actions__button {
        max-width: 100px;
        max-height: 46px;
        background: #1B7DFF;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease 0s;
        margin-top: 20px;
        margin-left: 70%;
        padding: 5px;
    }
}
.benefits__container {
    max-height: 655px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    margin-top: -350px; 
    padding-bottom: 20px; 
}
.benefits__block{
    padding-top: 60px;
}
.benefits__title {
    margin-left: 100px;
    color: #102746;
    font-family: Lato;
    font-size: 35px;
    font-weight: 500;
}
.benefits__contents {
    display: flex;
    gap: 55px;
    flex: 1 1 auto;
    margin: 70px 100px 40px 100px;
}
.items {
    display: flex;
    flex-direction: column;
}
.items__icon {
    margin-bottom: 37px;
}
.items__title {
    margin-bottom: 26px;
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.33%;
}
.items__text {
    flex: 1 1 auto;
    margin-bottom: 39px;
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
}
.support {
    display: flex;
    gap: 26px;
}
.support__link {
    color: #006DFE;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}
@media(max-width:991.98px){
    .benefits__container{
        margin-top: 0;
        max-height: 800px;
        padding-bottom: 0px;
    }
    .benefits__block{
        padding-top: 50px;
    }
    .benefits__contents {
        display: block;
        margin-top: 40px;
        padding-bottom: 20px;
        margin-left: 40px;
    }
    .items{
        display: block;
        margin-bottom: 20px;
    }
    .items__icon{
        margin-bottom: 20px;
    }
    .items__title{
        margin-bottom: 10px;
    }
    .items__text{
        margin-bottom: 10px;
    }
}
@media(max-width:767.98px){
    .benefits__contents{
        margin: 30px 40px;
    }
    .support {
        display: flex;
        gap: 13px;
    }
}
@media(max-width:477.98px){
    .benefits__container{
        max-height: 850px;
    }
    .benefits__block{
        padding-top: 30px;
    }
    .benefits__contents{
        margin: 20px 20px;
    }
    .items__text{
        margin-bottom: 10px;
    }
}
/*------------------------------------*/
.preview__container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 40px;
}
.preview__block {
    display: flex;
    gap: 50px;
    flex: 1 1 50%;
}
.preview__neighborhood {
    flex: 1 1 auto;
}
.neighborhood__image {
    position: relative;
    padding: 0px 0px 59% 0px;
    margin-bottom: 50px;
}
.neighborhood__image img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.neighborhood__title {
    max-width: 357px;
    margin-bottom: 40px;
    color: #102746;
    font-family: Lato;
    font-size: 30px;
    font-weight: 500;
    line-height: 133.333%;
}
.neighborhood__text {
    max-width: 519px;
    margin-bottom: 50px;
    color: #102746;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}
.neighborhood__link {
    display: flex;
    flex: 1 1 auto;
}
.link__button {
    color: #006DFE;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-right: 26px;
}
.preview__prefecture {
    flex: 1 1 auto;
}
.prefecture__title {
    max-width: 357px;
    margin-bottom: 40px;
    color: #102746;
    font-family: Lato;
    font-size: 30px;
    font-weight: 500;
    line-height: 133.333%;
}
.prefecture__text {
    max-width: 519px;
    margin-bottom: 58px;
    color: #102746;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
}
.prefecture__link {
    display: flex;
}
.prefecture__image {
    margin: 104px 0px 0px 0px;
    position: relative;
    padding: 0px 0px 59% 0px;
}
.prefecture__image img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media(max-width:991.98px){
    .preview__container {
    margin-top: 100px;
    margin-bottom: 100px;
    }
    .preview__block {
        display: flex;
        gap: 30px;
    }
    .neighborhood__image{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .neighborhood__title{
        margin-bottom: 20px;
    }
    .neighborhood__text{
        margin-bottom: 45px;
    }
    .prefecture__title{
        margin-bottom: 25px;
    }
    .prefecture__text{
        margin-bottom: 25px;
    }
    .prefecture__image{
        margin-top: 50px;
        margin-bottom: 10px;
    }
}
@media(max-width:777.98px){
    .preview__container {
        margin-top: 50px;
        margin-bottom: 70px;
        }
        .link__button{
            margin-right: 10px;
            font-size: 14px;
            line-height: 120%;
        }
        .neighborhood__image{
            margin-bottom: 20px;
        }
        .neighborhood__title{
            margin-bottom: 10px;
            font-size: 20px;
        }
        .neighborhood__text{
            margin-bottom: 25px;
            margin-right: 0px;
        }
        .prefecture__title{
            margin-bottom: 10px;
            font-size: 20px;
        }
        .prefecture__text{
            margin-bottom: 25px;
        }
        .prefecture__image{
            margin-top: 20px;
        }
}
@media(max-width:477.98px){
    .preview__container{
        margin-top: 40px;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .preview__block {
        display: block;
    }
    .neighborhood__text{
        margin-bottom: 10px;
    }
    .prefecture__title{
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .prefecture__text{
        margin-bottom: 10px;
    }
}
/*----------------------------------------*/
.page__places {
}
.places__container {
    margin-bottom: 100px;
    padding: 0 40px;
}
.places__content {
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    flex: 1 1 33.333%;
}
.places__items{
    flex: 1 1 320px;
}
.places__content-title {
    color: #102746;
    font-family: Lato;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 60px;
    position: relative;
}
.places__content-title::after{
    content: "";
    width: 253px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: #006DFE;
}
.places__content-image {
    position: relative;
    padding: 0px 0px 59% 0px;
}
.places__content-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.places__content-name {
    display: flex;
}
.name {
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(21, 24, 36, 0.6);
    position: relative;
    left: 0;
    bottom: 55px;
    max-width: 100%;
    height: 55px;
    padding: 0px 20px 0px 25px;
}
.name__title {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%; /* 133.333% */
}
.name__counts {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.counts__all {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}
.counts__likes {
    display: flex;
}
.counts__shares {
    display: flex;
}
.places__text {
    color: #102746;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: -40px;
    margin-bottom: 23px;
}
.places__button {
    max-width: 118px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    background: #006DFE;
    padding: 12px 19px 11px 19px;
}
@media(max-width:477.98px){
    .places__container{
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .places__content-title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .places__content {
        display: block;
        max-width: 430px;
    }
    .places__content-image{
        margin-bottom: 0px;
    }
    .places__items:not(:last-child){
        margin-bottom: 30px;
    }
    .places__content-image{
        margin-bottom: 0px;
    }
    .name{
        justify-content: space-between;
        align-items: center;
        background-color:  rgba(21, 24, 36, 0.6);
        position: relative;
        left: 0;
        bottom: 45px;
        max-width: 100%;
        height: 45px;
        padding: 0px 20px 0px 25px;
        }
    .places__text{
        margin-top: -30px;
    }
}
/*-------------------------------------*/
.video {
    margin: 0 auto;
}
.video__item {
    padding: 0px 0px 60% 0px;
    position: relative;
    max-width: 100%;
    max-height: 609px;
}
.video__item video,
.video__item iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*-----------------------------------*/
.footer {
    background: #0E1D28;
    max-width: 100%;
    max-height: 370px;
    padding: 0px 20px;
}
.footer__content {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 118px;
}
.footer__logo {
    margin-top: 50px;
    text-align: center;
}
.company__title {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
}
.company__link {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.locations__title {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
}
.locations__link {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.social__title {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
}
.social__link {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
@media(max-width:477.98px){
    .footer{
        padding: 0px 10px;
    }
    .footer__content{
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .footer__logo{
        margin-top: 30px;
    }
    .company__title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .social__title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .locations__title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .company__link{
        font-size: 14px;
    }
    .social__link{
        font-size: 14px;
    }
    .locations__link{
        font-size: 14px;
    }
}